* {
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  margin: 0;
  padding-top: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  margin: auto auto;
}

.container{ 
  display: flex;
  justify-content: center;
  margin: auto auto; 
  width: 800px;
  /* border: 1px solid red; */
}

input {
  height: 70px;
  width: 70%;
  padding-left: 10%;
  font-size: 1.5rem;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 0 20px #ccc;
}

button.add {
  width: 20%;
  cursor: pointer;
  background: blueviolet;
  color: white;
  font-weight: bold;
  border: none;
  height: 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tarefas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto auto; 
  max-width: 800px;
  /* border: 1px solid red; */
}

main {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: auto auto;
  padding-top: 1rem;
  /* border: 1px solid red; */
}

 .item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: white;
  height: 70px;
  width: 100%;
  box-shadow: 0 0 20px #ccc;
  margin-bottom: 3%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
}

.item.clicado {
  background: #d4f6d9;
}

.item.clicado .item__nome{
  text-decoration: line-through;
  color: grey;
}

.item__icone {
  flex: 20%;
  text-align: center;
  font-size: 1.5rem;
}

.item__nome {
  flex: 55%;
  font-size: 1.3rem;
  font-weight: 600;
}

.item__botao {
  flex: 21%;
}

.delete {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  height: 70px;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.mdi-check-circle {
  color: green;
}